<!-- <h1>
  Hello
</h1> -->

<!-- <div>
  <h1>Leaderboard</h1>

  <ul>
    <li class="text" *ngFor="let item of items | async">
      {{item.name}}
    </li>
  </ul>
</div> -->


<table class="table table-striped">
  <thead>
    <tr>
      <!-- <th scope="col">#</th> -->
      <th scope="col">Name</th>
      <th scope="col">Points</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let item of items | async; index as i">
      <!-- <th scope="row">{{ i + 1 }}</th> -->
      
      <td>{{ item.name }}</td>
      <td>{{ item.points }}</td>
    </tr>
    </tbody>
  </table>